<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      .container p{
        color: rebeccapurple;
        font-weight:bold;

      }
    </style>

  </head>
  <body>
    <a href="{% url 'blog:blog_list' %}">Blog</a>
    <a href="{% url 'blog:example_route' %}">Example Page </a>

    <div class="container">
      <h1>This is our Niraj website!!</h1>
      <p>Blog1</p>
     
    </div>  
    
  </body>
</html>